name: Build EXE on Release

on:
  release:
    types: [published]

jobs:
  build-windows-exe:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install PyInstaller
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build EXE with PyInstaller
        run: pyinstaller --onefile --windowed --icon=ui\icon.ico --collect-submodules ui --collect-submodules game --add-data "ui\icon.ico;ui" --add-data "ui\fonts\vazirmatn.ttf;ui/fonts" main.py


      - name: Rename EXE for release
        run: ren dist\main.exe dooz-${{ github.ref_name }}.exe

      - name: Upload EXE to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/dooz-${{ github.ref_name }}.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
